<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>

    <h1>Compose</h1>
    <form action="/compose" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" name="title" autocomplete="off">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Post</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="posting"></textarea>
      </div>
    <button type="submit button" class="btn btn-success">Publish</button>
</form> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <%- include('partials/footer') %>
</body>
</html>